.nkItems{
    width:100%;
    border: 1px solid #989fb3;
    border-radius: 5px;
}
.nkList {
    width: 90%;
    float: left;
    margin: 9px;
}
.nkButton{
    min-width:79px;
    float: right;
    margin: 9px;
}